extends /layouts/auth_base

block content
  main
    section
      .row
        .card.card-full
          .card-body
            h2.card-title More About the Pulse
            .card-intro.voice-ros
          